div{
	border: 10px solid;
	filter: drop-shadow(10px 20px 30px red);
	height: 30px;
	width: 200px;
	margin:auto;
	background-color: aqua;
	animation-name: ani;
	animation-duration: 5s;
	animation-delay: 2s;
	animation-iteration-count: infinite;
}

.trans{
	transform: rotateX(150deg);
	transform: skewY(-150deg);
}

@keyframes ani {
	from {background-color: aqua ;}
	to {background-color: purple;}
	to {background-color: green;}

}

p{
	border: 5px solid;
	animation-name: para;
	animation-duration: 10s;
	animation-delay: 5s;
	animation-iteration-count: 2;
}

@keyframes para {
	0% {background-color: pink;margin left: 20px;}
	25% {background-color: blue;margin-left: 40px;}
	75% {background-color: yellow;margin-left: 80px}
	110% {background-color: purple;margin-left: 100px}
}