div{
	border: 10px solid;
	filter: drop-shadow(10px 20px 30px red);
	height: 30px;
	width: 200px;
	margin:auto;
	background-color: aqua;
	animation: ani 5s;	
}

.trans{
	transform: rotateX(150deg);
	transform: skewY(-150deg);
}

@keyframes ani {
	from {background-color: aqua ;}
	to {background-color: purple;}
	to {background-color: green;}

}

p{
	border: 5px solid;
	filter: drop-shadow(10px 20px 30px orange);
	animation: para 10s 2s alternate-reverse;	
}

@keyframes para {
	0% {background-color: pink;margin left: 20px;}
	25% {background-color: blue;margin-left: 40px;}
	75% {background-color: yellow;margin-left: 80px}
	110% {background-color: purple;margin-left: 100px}
}

.flex{
	display: flex; 
	background-color: red;
	flex-direction: column-reverse;
	flex-wrap: wrap;
}

.flex section {
	background-color: green;
    padding:10px;
    margin:10px;
    font-size: 20px;    
}